@import url('https://fonts.googleapis.com/css?family=Poppins|Wallpoet&display=swap');
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0  5px grey;
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb{
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,228,1) 0%, rgba(255,0,0,1) 100%);
    border-radius:10px;
    border: 1px solid black;

}
::-webkit-scrollbar-thumb:hover{
    background: black;
}
::-webkit-scrollbar-track-piece{
    background: rgb(255,0,249);
    background: linear-gradient(0deg, rgba(255,0,249,0.5046393557422969) 0%, rgba(255,154,0,0.4990371148459384) 100%);
}
*{
    padding: 0;
    font-family: Poppins, sans-serif;
}
body{
    
    width: 100vw;
    height: 100vh;
    background: rgb(255,0,249);
    background: linear-gradient(0deg, rgba(255,0,249,1) 0%, rgba(255,154,0,1) 100%);
    overflow-x: hidden;
    & .content{
        
        display: flex;
        margin: 15px auto;
        background-color:white;
        border-radius:20px;
        width: 80%;
        height: fit-content;
        flex-wrap: wrap;
        padding: 10px;
        margin-top:110px;

        & .imgcont{
            margin: 20px;
            
            width: 227px;
            height: 200px;
            border: 2px solid black;
            border-radius: 20px;
            flex: 1 0 25%; /* explanation below */
            position: relative;
            & a{
                display: flex;
                width: 100%;
                height: 100%;
                text-decoration: none;
       
                font-size: 25px;
                color: black;
                & p{
                    top:40%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    position: absolute;
                    opacity: 0%;
                }
                & img{
                    width: 100%;
                    height: 100%;
                    border-radius:18px;
                }
            }
            &:hover{
                & img{
                    opacity: 50%;
                }
                & p{
                    opacity: 100%;
                }
            }
            
        }
    }
}

    /*flex: 1 0 25%;  explanation below */

