@font-face {
  font-family: 'Nunito';
  src: url(../Fonts/Nunito/Nunito-Black.ttf);
}

@font-face {
  font-family: 'Azonix';
  src: url(../Fonts/Azonix/Azonix.otf);
}

@font-face {
  font-family: 'Poppins';
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Wallpoet';
  src: url(../Fonts/Wallpoet/Wallpoet-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

* body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  background: #7B00FF;
  background: linear-gradient(135deg, #7B00FF 0%, #00497D 79%, #001FA6 100%);
}

* body nav a {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  color: black;
}

* body nav a .boxlogo {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 95px;
  font-family: 'Azonix', sans-serif;
  border: 5px outset rgba(0, 0, 0, 0.47);
  border-radius: 40px 8px 40px 8px;
}

* body nav a .boxlogo svg {
  width: 65px;
  margin: 0px 7px;
}

* body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url(../Images/fest2.jpg);
  background-repeat: no-repeat;
  height: 100%;
}

* body .container .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 600px;
  min-width: 500px;
  margin: 50px auto;
  padding: 30px 30px;
  border-radius: 15px;
  background: white;
}

* body .container .data p {
  padding: 20px;
  font-family: Poppins;
}

* body .container .data a {
  /*
                    margin: 30px auto 10px auto;
                    align-items: flex-end;
                    bottom: 0;*/
  text-decoration: none;
  color: black;
  margin: 0 auto;
  padding: 0 20px;
  font-family: Nunito;
  font-size: 30px;
  border-style: none;
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 45px;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: white;
}

* body .container .data a:hover {
  background-color: #4745aa;
  color: white;
  font-size: 35px;
}
/*# sourceMappingURL=style.css.map */